.button {
  display: inline-block;
  border: none;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: $color-default-white;
  padding: 10px 70px 10px 15px;
  cursor: pointer;
  background-color: $color-tangaroa;
  transition: all 0.3s ease-in-out;
  user-select: none;
  border-radius: 10px;
  position: relative;
}

.button::before {
  content: '';
  position: absolute;
  top: 13px;
  right: 20px;
  width: 32px;
  height: 15px;
  background: url('../img/svg/arrow-right.svg');
}

.button:focus,
.button:hover {
  color: $color-default-white;
  background-color: $color-glacier;
}