.title {
  color: $color-tangaroa;
  @include adaptiv-value("font-size", 64, 28, 0);
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 2.56px;
  text-transform: uppercase;
}

.title--h2 {
  @include adaptiv-value("font-size", 48, 28, 0);
  margin: 0;
  @include adaptiv-value("margin-bottom", 60, 30, 0);
}

.title--white {
  color: $color-default-white;
}